<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<style>
    .jumbotron {
        background-color: unset !important;
        text-align: center !important;
    }

        .jumbotron h1 {
            font-family: Consolas;
        }
</style>